[submodule "trading_bot"]
	path = trading_bot
	url = https://github.com/melonTai/trading_bot.git
[submodule "trade_data_analysis"]
	path = trade_data_analysis
	url = https://github.com/melonTai/trade_data_analysis.git
